# LaTeX temporary files
*.aux
*.log
*.toc
*.lof
*.lot

# PDF output - usually a bad idea to keep this in Git
*.pdf

# pdfa
pdfa.xmpi

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# PDF/A
*.xmpi

